Rest-Assured/TheCat/.idea/aws.xml
Rest-Assured/TheCat/.idea/compiler.xml
Rest-Assured/TheCat/.idea/encodings.xml
Rest-Assured/TheCat/.idea/jarRepositories.xml
Rest-Assured/TheCat/.idea/misc.xml
Rest-Assured/TheCat/.idea/vcs.xml
Rest-Assured/lojaDeGames/.classpath.txt
Rest-Assured/lojaDeGames/.mvn
Rest-Assured/lojaDeGames-Testes/.idea
Rest-Assured/lojaDeGames-Testes/target
*.DS_Store
JUnit/SistemaBancario/.settings
JUnit/SistemaBancario/bin
JUnit/SistemaBancario/.classpath
JUnit/SistemaBancario/.project
JUnit/hamcrest-core-1.3.jar
JUnit/junit-4.12.jar
Rest_Assured/lojaDeGames/.mvn
Rest_Assured/lojaDeGames/.classpath.txt
Rest_Assured/lojaDeGames-Testes/target/test-classes/br/com/testes/testeLojaDeGames
Rest_Assured/TheCat/.idea
Rest_Assured/.idea
*.iml
Rest_Assured/RestAssuredIntermediario/target
Rest_Assured/RestAssuredIntermediario/.idea
Rest_Assured/lojaDeGames-Testes/.idea
Cucumber/CucumberIntermediario/.idea
Cucumber/CucumberIntermediario/target
Cucumber/SeuBarrigaSeleniumCucumber/.idea
Cucumber/SeuBarrigaSeleniumCucumber/target
