Rest-Assured/TheCat/.idea/aws.xml
Rest-Assured/TheCat/.idea/compiler.xml
Rest-Assured/TheCat/.idea/encodings.xml
Rest-Assured/TheCat/.idea/jarRepositories.xml
Rest-Assured/TheCat/.idea/misc.xml
Rest-Assured/TheCat/.idea/vcs.xml
Rest-Assured/lojaDeGames/.classpath.txt
Rest-Assured/lojaDeGames/.mvn
Rest-Assured/lojaDeGames-Testes/.idea
Rest-Assured/lojaDeGames-Testes/target
*.DS_Store
